* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* ExtraBold = 800 */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
